#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. Julia
    4. Java

Some of the commonly used libraries used by Data Scientists include:

    1. Matplotlib
    2. TensorFlow
    3. Keras
    4. PyTorch

|**Data Science Tools** |
|------------------- |
| Apache Zepplin     |
| Jupiter Notebook   |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
result_in_hours=200/60
print(str(result_in_hours)+" hours")

3.3333333333333335 hours

**Objectives:**
- Python
- Julia
- R
- Java
- SQL

## Author
Madhuri Malyala